<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>

        {% block title %}
        {% endblock %}

    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
      {% load static %}
    <link rel="stylesheet" href="{% static 'defaultAdmin/reset.min.css' %}" />
    <link rel="stylesheet" href="{% static 'defaultAdmin/style.css' %}" />
    <link rel="stylesheet" href="{% static 'defaultAdmin/header-1.css' %}" />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <!-- Header Start -->
    <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <a href="#" class="brand">
            {% block name %}
            {% endblock %}
        </a>
        <nav class="nav">
          <button class="nav__toggle" aria-expanded="false" type="button">
            menu
          </button>
          <ul class="nav__wrapper">
              {% if user.is_authenticated %}
                  <li class="nav__item"><a href="{% url 'home' %}">Home</a></li>
                  <li class="nav__item"><a href="{% url 'profile' %}">Profile</a></li>
                  <li class="nav__item"><a href="{% url 'lawagency' %}">Law Agency</a></li>
                  <li class="nav__item"><a href="{% url 'user' %}">User</a></li>
                  <li class="nav__item"><a href="{% url 'logout' %}">Log Out</a></li>
              {% else %}
                  <li class="nav__item"><a href="{% url 'login' %}">Log In</a></li>
                  <li class="nav__item"><a href="{% url 'register' %}">Register</a></li>

              {% endif %}
            {#            <li class="nav__item"><a href="#">Contact</a></li>#}
          </ul>
        </nav>
      </div>
    </header>

    <div>
        {% block contents %}
        {% endblock %}
    </div>

    <!-- Header End -->

    <script src="{% static 'defaultAdmin/header-1.js' %}"></script>
  {% block headers %}
  {% endblock %}

  {% block database %}
  {% endblock %}
  </body>
</html>
