{% extends 'defaultAdmin/base.html' %}

{% block title %}
    Home
{% endblock %}



        {% block contents %}
            <div style= "padding-left:45%; padding-right:40%;padding-bottom: 15%;">
                {% for i in la %}
                    {% if user.username == i.user.username  %}
                        {{ i.agency_ID }}
                    {% endif %}
                {% endfor %}

                first name = {{ user.agency_ID }}<br>
                username = {{ user.username }}
                agencytype = {{ la.user.agency_ID }}
            </div>
        {% endblock %}
