{% extends 'defaultAdmin/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Log In
{% endblock %}

{% block contents %}
    <div style="padding-left: 35%; padding-right:35%; padding-bottom: 5%;">
        <h1>Please Enter your username and password for Logging In!</h1>
        <br>
            <form method='POST'>
                {% csrf_token %}
                <fieldset class="form-group">
                {{ form|crispy }}
                </fieldset>

                <button class="submit form-group btn btn-outline-info">
                    Log In
                </button>
            </form>
        <p>Don't have an Account? <a href="{% url 'register' %}">Sign Up</a> Here!</p>
    </div>
{% endblock %}